
.primary_btn {
    transition: 0.3s ease all;
    background-color: $secondary-color;
    color: white;
    font-size: 16px;
    text-transform: uppercase;
    padding: 8px 14px;
    border-radius: 5px;

    @include respond-below(sm) {
        font-size: 14px;
    }

    &:hover {
        filter: contrast(0.8);
    }
}
